

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav{
  border-bottom: 1px solid;
  box-shadow:0px 1px 1px #35282817;
  border-color: #746a6a21;
 
}

.nav h2{
  margin-left: 10px;
}

.nav .nav-toggle{
  margin-top: 12px;
  margin-right: 10px;
}

.home {
  margin-top: 10px;
}

.home .search{
width: 100%;
}

.weather-card, .favourite{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  box-shadow: 0px 2px 21px 1px rgba(184,182,184,0.54);
  padding:2%;
  background-image: url("./Assets/Images/clouds.gif");
}

.weather-logo{
  height: 70px;
  width: 70px;
  margin-top: 10px;
}

.current-condition {
  display: flex;
}

.current-condition p{
 margin-left: 10px;
 font-size: 15px;
 color: #3F51B5;
 font-weight: bold;
}

.dark-mode {
  background-color: black;

   
}
 
.fav-card{
  background-color: white;
  position: relative;
 line-height: 5px;
  border-radius: 10px;
  text-align: center;
  height: 200px;
  box-shadow: 0px 2px 21px 1px rgba(184,182,184,0.54);
  cursor: pointer;
}

 

.fav-yes{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
 
.fav-card h2,h3{
 margin-top: 50px;
 color: #0dbfff;
}

.forecast{
  margin-top: 10%;
}

.MuiSwitch-input{
  position: absolute !important;
}
.search-wrapper{
  background-color: white;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
 
    height: 60px;
  }

 